body {
   background:url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538__340.jpg
   ) no-repeat center fixed ;
   background-size: cover;
   overflow-y: hidden;
   height: 100vh;
   font-family: sans-serif;
}

.container {
   width: 40%;
   margin: auto;
   border-radius: 9px;
   margin-top: 10%;
   overflow: hidden;
   padding: 1rem;
   background-color: #fff;
   text-align: center;
}

hr {
   width: 80%;
   margin-top: 30px;
}

a {
   text-decoration: none;
}

.container input {
   padding: 0.5rem;
   width: 70%;
   margin: 5px 0;
   border-radius: 5px;
}

.container input[type=checkbox] {
   width: auto;
}

.btn {
   padding: 0.5rem 2rem;
   margin-top: 1%;
   background-color: #2ecc71;
   font-size: 1rem;
   width: 50%;
   border-radius: 7px;
   border: none;
   
}