@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family:'Roboto', sans-serif;
   font-weight: 300;
   background: #181818;
   color:#fff;
   overflow: hidden;
}

#wrapper{
   display: flex;
   flex-direction: row;
}

#left {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
   justify-content: center;
   height: 120vh;
}

#right {
   flex: 1;
}

/* SIGN IN */
#signin {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   padding-bottom: 0.5rem;
}

#signin form {
   width: 80%;
   padding-bottom: 1rem;
}

#sign .logo img {
   width: 300px;
}

#signin .logo {
   margin-bottom: 8vh;
}

#signin label {
   font-size: 0.9rem;
   line-height: 2rem;
   font-weight: 300;
}

#signin .text-input {
   margin-bottom: 1.3rem;
   width: 100%;
   border-radius: 2px;
   background-color: #181818;
   color: #ccc;
   padding: 0.5rem 1rem;
   line-height: 1.3rem;
   border: 1px solid #555;
}

#signin .primary-btn {
   width: 100%;
}

#signin .secondary-btn ,
.or,
.links{
   width: 60%;
}

#signin .links a {
   display: block;
   color: #fff;
   text-decoration: none;
   margin-bottom: 1rem;
   text-align: center;
   font-size: 0.9rem;
}

#signin .or {
   display: flex;
   flex-direction: row;
   margin-bottom: 1.2rem;
   align-items: center;
}

#signin .or .bar {
   flex: auto;
   border: none;
   height: 1px;
   background: #aaa;
}

#signin .or span {
   color: #ccc;
   padding: 0 0.8rem;
}

/*  SHOWCASE */
#showcase {
   display: flex;
   justify-content: center;
   height: 100vh;
   align-items: center;
   text-align: center;
   background: url(https://images.unsplash.com/photo-1601326167532-d457cd8186cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmVkJTIwdGV4dHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
}

#showcase .showcase-text {
   font-size: 2rem;
   width: 100%;
   color: #fff;
   margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
   width: 60%;
   margin: auto;
}

/* Footer */
#main-footer{
   color: #ccc;
   text-align: center;
   font-size: 0.8rem;
   max-width: 80%;
   padding-top: 0.5rem;
}

#main-footer a {
   color: #b02334;
   text-decoration: none;
}

/* BUTTON */
.primary-btn {
   padding-top: 0.7rem 1rem;
   height: 2.7rem;
   display: block;
   border: 0;
   border-radius: 2px;
   font-weight: 300;
   background: #b02334;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   transition: all 0.5s;
}

.primary-btn:hover {
   background-color: #d9363f;
}

.secondary-btn {
   padding: 0.7rem 1rem;
   height: 2.7rem;
   display: block;
   border: 2px solid #f4f4f4;
   border-radius: 2px;
   font-weight: 300;
   background: none;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   transition: all 0.5s;
   
}

.secondary-btn:hover {
   border-color: #e47777;
   color: #e47777;
}

/* media queries */
@media (min-width:1200px) {
   #left {
      flex: 4;
   }

   #right {
      flex: 6;
   }
}

@media (max-width:768px) {
   body {
      overflow: auto;
   }

   #right {
      display: none;
   }

   #left {
      justify-content: start;
      margin-top: 4vh;
   }

   #signin-logo {
      margin-bottom: 2vh;
   }

   #signin .text-input{
      margin-bottom: 0.7rem;
   }

   #main-footer {
      padding-top: 1rem;
   }
}